<%= javascript_include_tag 'hook', :plugin => "redmine_wktime" %>

<% if User.current.allowed_to?(:manage_log_time_unit, nil, :global => true) %>
<p>
<label>Log Time in Days </label>
<input id="logTimeInDaysCheckBox" type="checkbox" <% if @user.preference[:logTimeInDays]=="1"%>checked="checked"<% end %> onclick="activeLinkLogTimeUnit();">
<a hidden id="logTimeInDaysLink" href="/wktime/log_in_days?user_id=<%= User.current.id %>" ></a>
</p>
<% if @user.pref[:logTimeInDays]=="1"%> 
<p><label title="no extra time">Log time maximum value of 1day/day </label>  <input id="exceedLogTimeLimit" type="checkbox" <% if @user.preference[:exceedLogTimeLimit]=="1"%>checked="checked"<% end %> onclick="activeLinkLogTimeLimit();">
<a hidden id="logTimeLimitLink" href="/wktime/limit_log_time_entry?user_id=<%= User.current.id %>" ></a> </p>
<% end %>
 
<% end %>